h1{
    color:black;
}
.hyper{
    margin-left: 20px;
    margin-top: 429px;
    color: blue;
}
.body{
	padding: 10px;
	background-image: url(../../assets/forgot.jpg);
	background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}